body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main-section{
  margin: 0 auto;
  width: 80vw;
}
.color-container{
  width: 5rem;
  height: 5rem;  
}

/* @media screen and (max-width: 700px){
  .main-section{
    height: 350vh;
  }
}
@media screen and (max-width: 400px){
  .main-section{
    height: 750vh;
  }
} */